#banner {
  padding: 10rem 0 0 0;

  .swiper-slide {
    position: relative;
  }

  .swiper-wrapper {
    line-height: 0;
  }

  .banner-content {
    position: absolute;
    top: 60%;
    left: 6%;
    color: white;

    h1 {
      font-weight: 200;
      margin-bottom: 3rem;
      padding: 0.8rem 2rem 0.2rem;
      background-color: hsla(0, 0%, 0%, 0.078);
    }

    span {
      font-weight: 800;
    }
  }
}

#infoStrip {
  padding: 0;
}

.discount-strip {
  background-image: url("../../assets/bg_cam.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  p {
    color: white;
    font-size: fs-topbar;
    padding: 1.5rem 0;
  }
}
