.collection-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .collection-card {
    position: relative;

    figure {
      overflow: hidden;
    }

    img {
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    h3 {
      position: absolute;
      bottom: 10%;
      left: 10%;
      color: white;
      font-size: var(--fs-h2);
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

/* // ----------------------------------- MEDIA QUERIES -------------------------------------- */

@media screen and (max-width: 768px) {
  .collection-wrapper {
    gap: 2.5rem;
    padding: 2rem;
    flex-direction: column;

    .collection-card h3 {
      font-size: var(--fs-h3);
    }
  }
}
