.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .features-item {
    text-align: center;

    svg {
      margin-bottom: 2rem;
      transition: transform 0.3s ease-in-out;
    }

    p {
      color: var(--color-dark-800);
    }

    &:hover {
      svg {
        transform: translateY(-0.3rem);
      }
    }
  }
}

/* // ----------------------------------- MEDIA QUERIES -------------------------------------- */

@media screen and (max-width: 420px) {
  .features-wrapper {
    gap: 3rem;
    flex-direction: column;
  }
}
