#newArrivals,
#topSellers {
  .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-slide {
    cursor: pointer;

    figure {
      overflow: hidden;
      position: relative;
    }

    .hide {
      position: absolute;
      top: 0;
      left: 0;
      transition: visibility 0.1s ease-in-out;
    }

    h3 {
      font-size: var(--fs-h4);
      margin: 1rem 0;
    }

    &:hover {
      .bag,
      .eye,
      .heart {
        bottom: 5%;
      }

      .hide {
        visibility: hidden;
      }
    }
  }

  .card-content {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bag {
    left: 25%;
    transition: fill 0.2s ease-in-out, background-color 0.3s ease-in-out, bottom 0.3s ease-in;
  }

  .eye {
    left: 45%;
    transition: fill 0.2s ease-in-out, background-color 0.3s ease-in-out, bottom 0.4s ease-in;
  }

  .heart {
    left: 65%;
    transition: fill 0.2s ease-in-out, background-color 0.3s ease-in-out, bottom 0.5s ease-in;
  }

  .bag,
  .eye,
  .heart {
    position: absolute;
    gap: 1.5rem;
    bottom: -15%;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &:hover {
      fill: white;
      background-color: var(--color-primary);
    }
  }

  .category {
    font-weight: 600;
    font-size: var(--fs-topbar);
    color: var(--color-light-800);
  }

  .card-cross,
  .card-price,
  .card-red {
    font-weight: 600;
    font-size: var(--fs-h5);
  }

  .card-cross {
    color: var(--color-light-800);
    text-decoration: line-through;
  }

  .card-red {
    color: var(--color-primary);
  }

  .card-price {
    color: var(--color-Dark-400);
  }
}

/* // ----------------------------------- MEDIA QUERIES -------------------------------------- */

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }
}
