:root {
  /* Font Variables -------- fm - Font Family -- fs - Font Size -- fw - Font Weight ------- */

  --fm-body: "Segoe UI", sans-serif;

  --fm-primary: "Josefin Sans", sans-serif;

  --fs-h1: 4rem;
  --fs-h2: 3.6rem;
  --fs-h3: 2.4rem;
  --fs-h4: 1.8rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.2rem;

  --fs-btn: 1.4rem;
  --fs-body: 1.5rem;
  --fs-topbar: 1.3rem;
  --fs-subheading: 1.5rem;

  /* // -- Line Height - lh ---------------------------------------------------------------- */

  --lh-body: 1.7;
  --lh-heading: 1.2;

  /* // Color Variables -------------------------------------------------------------------- */

  --color-scrollbar: hsl(0, 0%, 93%);
  --color-scrollthumb: hsl(5, 100%, 69%);

  --color-primary: hsl(5, 100%, 69%);
  --color-secondary: hsl(0, 0%, 7%);

  --color-light-100: hsl(0, 0%, 96%);
  --color-light-400: hsl(0, 0%, 80%);
  --color-light-800: hsl(0, 0%, 70%);

  --color-dark-100: hsl(0, 0%, 25%);
  --color-dark-400: hsl(0, 0%, 15%);
  --color-dark-800: hsl(0, 0%, 7%);

  --color-body: hsl(0, 0%, 17%);

  --color-btn-primary: hsl(0, 0%, 12%);
  --color-btn-secondary: hsl(0, 0%, 100%);

  /* // Dimensions Variables --------------------------------------------------------------- */

  --width-container: 1200px;
  --section-padding: 8rem;

  /* // Box Shadow ------------------------------------------------------------------------- */

  --box-shadow-lg: 0 1rem 3rem hsla(0, 0%, 0%, 0.225);
  --box-shadow-md: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.15);
  --box-shadow-sm: 0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.075);

  /* // ------------------------------------------------------------------------------------ */
}
